{{#extends "base"}}
{{#block "content"}}
<h1>Food Sighting</h1>
<a href="/add-food" class="btn btn-primary">Add New Sighting</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Food</th>
            <th>Calories</th>
            <th>Meal</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        {{#each foodRecord}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.foodName}}</td>
            <td>{{this.calories}}</td>
            <td>{{this.meal}}</td>
            <td>{{this.tags}}</td>
            <td>
                <a href="/{{this._id}}/note" class="btn btn-secondary btn-sm">Notes</a>
                <a href="/update-food/{{this._id}}" class="btn btn-primary btn-sm">Update</a>
                <a href="/delete-food/{{this._id}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}